# Extracted from https://github.com/ulrich/macaron-factory/blob/master/.gitignore
# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

# Ignore Play! working directory #
eclipse
log
logs
precompiled
tmp
data
test-result
server.pid
modules
lib
dist
*.pyc
