#{extends 'main.html' /}
#{greenscript.css 'form livevalidation' /}

<h2>#{get 'formTitle' /}</h2>

#{greenscript.js 'livevalidation' /}
#{greenscript.js}
var rules = new Hash();
var ruleById = function (id) {
    if (!$(id)) return;
    var r = rules.get(id);
    if (!r) {
        r = new LiveValidation(id, {onlyOnBlur: true});
        rules.set(id, r);
    }
    return r;
}
#{/greenscript.js}

#{doLayout/}

#{greenscript.js 'pMask' /}
#{greenscript.js output:true}
    new pMask();
#{/greenscript.js}
