<!DOCTYPE html>

<html>
    <head>
        <title>Test Process Static</title>
        <meta charset="${_response_encoding}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <link type="text/css" rel="stylesheet" href="@{'/public/stylesheets/tab.less'}">
        <link type="text/css" rel="stylesheet" href="@{'/public/stylesheets/Application/index.less'}">
        <link type="text/css" rel="stylesheet" href="@{'/public/stylesheets/tab.less'}">
        <script src="@{'/public/javascripts/test.coffee'}" type="text/javascript"></script>
    </head>
    <body>
<div id="showcase">
  My font color should be: black;
  My background color should be: "#aff";
</div>
<a href="@{Application.index()}">Back to home</a>
    </body>
</html>

