<!DOCTYPE html>
%{
docTitle = get('title') ?: 'GreenScript Demo Application'
}%
<html>
    <head>
        <title>${docTitle}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        #{greenscript.css 'ie', browser:'lt IE 8', media: 'screen'/}
        #{greenscript.css 'layout color', output:'all'/}
        #{greenscript.js output:'all' /}
    </head>
    <body>
        <div id="header">
            <h1>${docTitle}</h1>
        </div>
        
        #{if flash.success}
            <div class="success">
                ${flash.success}
            </div>
        #{/if}
        #{if flash.error || error}
            <div class="error">
                ${error ?: flash.error}
            </div>
        #{/if}
        
        <div id="content">
            #{doLayout /}
        </div>
       
        <div id="footer">
            greenlaw110@gmail.com
            <br/><a href="/gsconf" target='_blank'> >> Config GreenScript</a>
            <br/><a href="@{singlePage()}" target='_blank'> >> Go to Single Page Template Demo</a>
        </div>
        
    </body>
</html>
